
:root {
    --white: #fff;
    --DarkGray: #777;
}


a {
    text-decoration: none;
    color: var(--white);
}


body {
    font-family: open sans, serif;
    font-size: 14px;
    line-height: 1.6;
}


.header {
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    /*height: 60px;*/
    border-top: 1px solid #e7e7e7;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 1px 4px -1px rgba(50, 50, 50, .2);
}

.header-hamburger {
    visibility: hidden;
}

.header-logo {
    width: 140px;
    padding-top: 10px;
}


.header-navbar {
    padding-top: 20px;
}

.nav-link {
    color: var(--DarkGray);
    text-transform: uppercase;
    margin-right: 30px;
    font-weight: 700;
    line-height: 40px;
    font-size: 13px;
    transition: color 0.3s;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:hover {
    color: #008080;
}

.header-social {
    margin-top: 25px;
}

.social-link {
    margin-right: 10px;
}

.social-link:last-child {
    margin-right: 0;
}

.social-img {
    width: 27px;
}

.projects {
    /*margin-top: 60px;*/
    padding-bottom: 15px;
    padding-top: 80px;
    background-color: #e6e6e6;
    box-shadow: inset 0 -1px 4px -1px rgba(50, 50, 50, .1);
    display: flex;
    justify-content: center;
}

.projects-title {
    margin: auto 0;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--DarkGray);
    font-size: 11px;
}

.projects-project {
    text-align: center;
}

.projects-project figcaption {
    color: #575757;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;

}

.project-img {
    width: 50px;
    margin: 0 auto;
}

.news {
    display: grid;
    /*grid-template-rows: 1fr;*/
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 10px;
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/

}

.news-block {
    background-color: #f9f9f9;
    padding: 30px 15px 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    /*width: 600px;*/
}

.news-title {
    font-size: 12px;
    background: var(--DarkGray);
    display: inline-block;
    color: var(--white);
    padding: 7px 14px;
    margin-top: 0;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.news-link {
    margin-bottom: 20px;
    color: #474747;
    font-size: 15px;
    display: inline-block;
    transition: color 0.3s, text-decoration 0.5s;
}

.news-link:last-child {
    margin-bottom: 0;
}

.news-link:hover {
    color: firebrick;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: firebrick;
}

.news-box {
    /*width: 200px;*/
    min-height: 300px;
    /*min-width: 200px;*/
    background-image: url(https://s1.stc.all.kpcdn.net/putevoditel/projectid_103889/images/tild6164-3831-4630-b962-396261663033__street-238458_960_72.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.news-box__class {
    background-color: rgba(0, 0, 0, .25);
    padding: 4px 8px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #fff;
    margin-left: 10px;
    display: inline-block;
    color: var(--white);
    vertical-align: center;
}

.news-box__class:before {
    content: url("https://img.icons8.com/fluent-systems-regular/24/000000/bus.png");
    width: 8px;
    /*height: 8px;*/
}

.news-box__container {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: 0 1px 4px -1px rgba(50, 50, 50, .2);

}

.news-box__title {
    margin-top: 9px;
    color: var(--white);
    font-weight: 900;
    text-transform: none;
}

.newsBox-box__category {
    background-color: #34495e;
    color: var(--white);
    padding: 6px 8px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
}

.footer {
    padding: 30px;
    background: #e7e7e7;
    border-top: 15px solid #34495e;
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: flex-start;*/
    /*flex-wrap: wrap;*/
}

.footer-network {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FF1493;
}

.network-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    font-family: "open sans", sans-serif;
    color: #34495e;
}

.network-link {
    display: flex;
    align-items: center;
    background-color: #577dc9;
    margin-bottom: 10px;
    padding: 2px 3px;
    width: 150px;
}

.network-link p {
    color: #ecf0f1;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 0 10px;
}

.footer-rules {
    display: flex;
    flex-direction: column;
    background-color: #EEE8AA;
}

.rules-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    color: #34495e;
}

.rules-link {
    color: #34495e;
    font-weight: 700;
    line-height: 1.6;
    flex-grow: 1;
}

.footer-about {
    display: flex;
    flex-direction: column;
    background-color: #00FFFF;
}

.about-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    color: #34495e;
}

.about-link {
    color: #34495e;
    font-weight: 700;
    line-height: 1.6;
    flex-grow: 1;
}

.copywrite {
    display: flex;
    background-color: #34495e;
    padding: 15px 10px;
    flex-wrap: wrap;
}

.copywrite-parag {
    font-size: 13px;
    font-weight: 400;
    color: #ecf0f1;
    flex-basis: 30%;
}

.copywrite-navbar {
    flex-basis: 60%;
}

.navbar-link{
    color: var(--white);
    font-weight: 700;
    transition: color 0.3s;
}
.navbar-link:hover {
    color: #d9d9d9;
}

.navbar-link:after {
    content: "|";
    color: var(--white);
}

.navbar-link:last-child::after {
    display: none;
}


















@media (max-width: 1124px) {
    .header-navbar {
        visibility: hidden;
    }

    .header-social {
        visibility: hidden;
    }

    .header-btn {
        visibility: visible;
        width: 40px;
        height: 40px;
        border: 1px solid #ddd;
        margin-top: 20px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .header-btn:hover {
        background-color: #ddd;
    }

    .header-btn div {
        width: 15px;
        height: 2px;
        background-color: var(--DarkGray);
        margin: 1px 0;

    }
}

